<!doctype html>
<html>
  <head>
    <title>ngtzit</title>
    <link rel="stylesheet" href="styles/styles.css">
    <link rel="stylesheet" href="/bower_components/material-design-lite/material.css">
    <script src="bower_components/material-design-lite/material.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  </head>
  <body ng-app="app">

    <!-- <div class="nav-bar" ng-controller="GameController">

      <div class="submit" ng-click="submit( )"></div>
      <div class="play-pause" ng-controller="PlayerSequencerController" ng-click="playToggle( )"></div>
      <div class="play-pause" ng-controller="TargetSequencerController" ng-click="playToggle( )"></div>

    </div> -->

    <div ui-view="nav"></div>
    <div ui-view="content"></div>

    <!-- SCRIPTS -->
    <!-- these will get minimized for deployment; we'll need to change these to the minified scripts -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="bower_components/underscore/underscore-min.js"></script>
    <script src="app/classes/Beat.js"></script>
    <script src="app/classes/Sequence.js"></script>
    <script src="app/classes/Bus.js"></script>
    <script src="app/classes/Sequencer.js"></script>
    <script src="app/synthesis/Envelope.js"></script>
    <script src="app/synthesis/WhiteNoise.js"></script>
    <script src="app/synthesis/Kick.js"></script>
    <script src="app/synthesis/Clap.js"></script>
    <script src="app/synthesis/ClosedHat.js"></script>
    <script src="app/synthesis/OpenHat.js"></script>
    <script src="app/synthesis/Bass.js"></script>
    <script src="app/app.js"></script>
    <script src="app/controllers/navController.js"></script>
    <script src="app/controllers/activeController.js"></script>
    <script src="app/controllers/gameController.js"></script>
    <script src="app/controllers/playerSequencerController.js"></script>
    <script src="app/controllers/targetSequencerController.js"></script>
    <script src="app/factories/initializationFactory.js"></script>
    <script src="app/factories/httpFactory.js"></script>
    <script src="app/factories/playerSequencerFactory.js"></script>
    <script src="app/factories/levelFactory.js"></script>
  </body>
</html>
