<!doctype html>
<html>
  <head>
    <title>Parrot</title>
    <link rel="stylesheet" href="styles/styles.css">
  

  </head>
  <body ng-app="app">

<!--     Game controller holds everything except the target sequencer -->
    <div class="gameSpace" ng-controller="GameController"> game goes here

      <!-- Sequence Controller holds all of the player controls for editing player sequence -->
      <div class="playerSequencer" ng-controller="PlayerSequencerController">

        <button ng-click="sequencer.playToggle()">PLAY MY BEATS</button>

        <!-- <button ng-click="sequencer.stop()">STOP PLAYING MY BEATS</button> -->

        <div class="sequence" ng-repeat="sequence in sequences | orderBy: $index">

          <div class="beat {{sequencer.beatClass}}"

          ng-class="{ playing: sequencer.getBeat($parent.$index, $index).isOn() }"

          ng-repeat="beat in sequence._beats"

          ng-click="sequencer.toggleBeat($parent.$index, $index)">a</div>

        </div>

      </div>
      
      <button class="submit" ng-click="submit()">Submit</button>

      <div class="targetSequencer" ng-controller="TargetSequencerController">

        <button ng-click="sequencer.playToggle()">PLAY TARGET</button>
        
        <!-- <button ng-click="sequencer.stop()">STOP TARGET</button> -->
      </div>
    </div>

    <!-- SCRIPTS -->
    <!-- these will get minimized for deployment; we'll need to change these to the minified scripts -->
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/underscore/underscore-min.js"></script>
    <script src="app/classes/Beat.js"></script>
    <script src="app/classes/Sequence.js"></script>
    <script src="app/classes/Bus.js"></script>
    <script src="app/classes/Sequencer.js"></script>
    <script src="app/app.js"></script>
    <script src="app/init.js"></script>
    <script src="app/playerSequencerFactory.js"></script>
    <script src="app/targetSequencerFactory.js"></script>
    <script src="app/httpFactory.js"></script>
  </body>
</html>
