.beat {

  float: left;

  height: 200px;
  text-align: center;
  border: gray 1px solid;

}

.sequence {

  display: block;
  width: 100%;
  height: 200px;

}

.gameSpace, .targetSequencer {

  width: 95%;

}

.line-1 {

  height: 95%;
  width: 95%;
  margin: 2.5% auto;
  background-color: white;
  overflow: hidden;

}

.line-2 {

  height: 90%;
  width: 90%;
  margin: 2.5% auto;
  overflow: hidden;
  background-color: gray;

}

.line-3 {

  height: 90%;
  width: 90%;
  margin: 3% auto;
  overflow: hidden;
  background-color: white;

}

.line-4 {

  height: 80%;
  width: 80%;
  margin: 10%;
  overflow: hidden;
  background-color: gray;

}

.line-5 {

  height: 70%;
  width: 70%;
  margin: 14.5%;
  overflow: hidden;
  background-color: white;

}

.line-6 {

  height: 90%;
  width: 90%;
  margin: 5%;
  overflow: hidden;
  background-color: gray;

}

.line-7 {

  height: 90%;
  width: 90%;
  margin: 5%;
  overflow: hidden;
  background-color: white;

}

.center {

  height: 70%;
  width: 70%;
  margin: 12% auto;
  overflow: hidden;
  

}

.center.pink {

  background-color: pink;

}

.center.green {

  background-color: green;

}

.center.blue {

  background-color: blue;

}

.center_0 {

  background-color: pink;

}

._0 {

  background-color: pink;

}

._1 {

  background-color: green;

}

._2 {

  background-color: blue;

}

.four {
  width: 22%;
}

.eight {
  width: 10%;
}

.sixteen {
  width: 4%;
}

.playing {
  background-color: yellow;
}
