.beat {
  float: left;
  width: 100px;
  height: 100px;
  text-align: center;
  border: black 1px solid;
}

.sequence {
  display: block;
  width: 100%;
  height: 100px;
}

.gameSpace, .targetSequencer {
  width: 500px;
}

.four {
  width: 22%;
}

.eight {
  width: 10%;
}

.sixteen {
  width: 5.5%;
}

.playing {
  background-color: yellow;
}
