h2 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

  font-size: 40px;

  color: #fff;

  display: inline;

  padding-right: 30px !important;

}

#space {

  margin: 70px;

}

#user-name-level {

  display: inline;

  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

  font-size: 45px

  color: #fff;

}

.container-fluid {

  padding: 0;

}

.glyphicon {

  font-size: 50px;

  padding-left: 58px;

  padding-right: 58px;

  color: #fff;

}

.glyphicon:hover {
  color: black;
}

.glyphicon:focus {
  color: black;
}

.navbar-brand {

  font-size: 50px;

  margin-top: 15px;

  color: rgb(255, 49, 158);

}

.navbar-brand:visited {
  color: rgb(255, 49, 158);
}

.navbar-brand:hover {
  color: #fff;
}

.user-info-form {

  margin-top: 15px;

}

#display-username {

  margin-right: 15px;

}

#display-logout {

  margin-top: -20px;

}

.navbar-toggle {
  border: 1 solid #fff;
}

.icon-bar {
  border: 1 solid #fff;
}

#active {

  color: white;

}

/* form style */
.form-control {
  display: block;
  width: 70%;
  height: 40px;
  padding: 0px 20px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #fff;
  background-color: #272822;
  border: 2px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}

/* button style */
.btn {
  display: inline-block;
  padding: 7px 8px;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 2px solid transparent;
  border-radius: 4px;
}
.btn-default {
  color: #fff;
  background-color: #272822;
  border-color: #ccc;
}
.btn-default:focus,
.btn-default.focus {
  color: #fff;
  background-color: #272822;
  border-color: #8c8c8c;
}
.btn-default:hover {
  color: #fff;
  background-color: #272822;
  border-color: #adadad;
}

body {

  overflow-y: hidden;
  background-color: black;

}

div {

  -webkit-user-select: none;

}

/* game alignment */
.playerSequencer {
  margin: 0 auto;
  width: 90vw;
}


.wrong, .match, .won {

  line-height: 100vh;
  text-align: center;
  height: 100vh;
  width: 100vw;
  opacity: 0;
  transition: opacity .3s;

}

.ng-hide-remove, .ng-hide-remove {

  transition: opacity .3s;
}

.wrong.flash, .match.flash, .won.flash {

  opacity: 1;
  transition: opacity .3s;

}

.wrong.flash {

  background-color: rgb(255, 49, 158);

}

.match.flash, .won.flash {

  background-color: rgb(0, 251, 175);

}

.match-message, .wrong-message, .won-message {

  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  margin: auto;
  font-size: 10rem;

}

.wrong-message {

  color: rgb(171, 250, 0);

}

.match-message, .won-message {

  color: rgb(255, 49, 158);

}

#active {

  color: white;

}

.gameSpace {

  margin: 0 auto;
  width: 100vw;
  height: 100vw;

}

.sequence {

  margin: auto;
  display: block;

}

.sequence.four {

  height: 15vw;
  width: 60vw;
}

.sequencer.eight {

  height: 11vw;
  width: 88vw;

}

.sequencer.sixteen {

  height: 11vw;
  width: 88vw;

}

.beat {

  display: inline-block;
  margin: auto;
  text-align: center;
  background-color: black;

}

.beat-box {

  width: 100%;
  height: 100%;

}

.beat.four {

  width: 15vw;
  height: 15vw;

}

.beat.eight {

  height: 11vw;
  width: 11vw;

}

.beat.sixteen {

  height: 11vw;
  width: 5.5vw;

}

.line, .line.current, .line.current:hover,
._0, ._0:hover, ._0.playing,
._1, ._1:hover, ._1.playing,
._2, ._2:hover, ._2.playing {

  transition: height .1s, width .1s, margin .1s, opacity .1s;

}

.line {

  height: 98%;
  width: 98%;
  margin: 1% auto;
  overflow: hidden;

}

.line.current:hover {

  height: 95%;
  width: 95%;
  margin: 2.5% auto;
  overflow: hidden;

}

.line.current {

  height: 90%;
  width: 90%;
  margin: 5% auto;
  overflow: hidden;


}

.outer {

  background-color: black;

}

.inner {

  background-color: gray;

}

._0, ._1, ._2 {

  opacity: .8;

}

._0:hover, ._1:hover, ._2:hover {

  opacity: .9;

}

._0:hover, ._0.playing {

  background-color: rgb(255, 49, 158);

}

._1:hover, ._1.playing {

  background-color: rgb(0, 251, 175);

}

._2:hover, ._2.playing {

  background-color: rgb(253, 230, 0)

}

.playing {

  opacity: .95;

}

._0.playing:hover, ._1.playing:hover, ._2.playing:hover {

  opacity: 1;

}
