<div id='controls'>

  <button class="play-pause mdl-button mdl-js-button mdl-button--primary" ng-click="playerSequencerPlayToggle( )">▶︎ / ❚❚</button>

  <button class="submit mdl-button mdl-js-button mdl-button--primary" ng-click="submitMatch( )">Submit</button>

  <button class="mdl-button mdl-js-button mdl-button--primary" ng-click="targetSequencerPlayToggle( )">▶︎ / ❚❚ TARGET</button>
  
</div>

<div id="active">

  <div class="username">{{ user.username || 'user is not defined' }}</div>

  <div class="current-level">{{ user.level || 'user is not defined' }}</div>

  <div class="logout" ng-click="logout( )">Logout</div>

</div>
