<div class="beat-box">

  <div class="line inner _{{ $parent.$index }} {{ $index }}"

  ng-class="{ playing: sequencer.getBeat($parent.$index, $index).isOn( ) }">

    <div class="line outer">

      <div class="line inner _{{ $parent.$index }} {{ $index }}"

      ng-class="{ playing: sequencer.getBeat($parent.$index, $index).isOn( ) }">

        <div class="line outer">

          <div class="line inner _{{ $parent.$index }} {{ $index }}"

          ng-class="{ playing: sequencer.getBeat($parent.$index, $index).isOn( ) }">

            <div class="line outer">

              <div class="line inner _{{ $parent.$index }} {{ $index }}"

              ng-class="{ playing: sequencer.getBeat($parent.$index, $index).isOn( ) }">

                <div class="line outer">

                  <div class="line inner _{{ $parent.$index }} {{ $index }}"

                  ng-class="{ playing: sequencer.getBeat($parent.$index, $index).isOn( ) }">

                    <div class="line outer">

                      <div class="line inner _{{ $parent.$index }} {{ $index }}"

                      ng-class="{ playing: sequencer.getBeat($parent.$index, $index).isOn( ) }">

                        <div class="line outer">

                          <div class="line inner _{{ $parent.$index }} {{ $index }}"

                          ng-class="{ playing: sequencer.getBeat($parent.$index, $index).isOn( ) }">

                            <div class="line outer">

                              <div class="line inner _{{ $parent.$index }} {{ $index }}"

                              ng-class="{ playing: sequencer.getBeat($parent.$index, $index).isOn( ) }">

                                <div class="line outer">

                                  <div class="line inner _{{ $parent.$index }} {{ $index }}"

                                  ng-class="{ playing: sequencer.getBeat($parent.$index, $index).isOn( ) }">

                                    <div class="line outer">

                                      <div class="line inner _{{ $parent.$index }} {{ $index }}"

                                      ng-class="{ playing: sequencer.getBeat($parent.$index, $index).isOn( ) }">

                                        <div class="line outer">

                                          <div class="line inner _{{ $parent.$index }} {{ $index }}"

                                          ng-class="{ playing: sequencer.getBeat($parent.$index, $index).isOn( ) }">

                                            <div class="line outer">

                                              <div class="line inner _{{ $parent.$index }} {{ $index }}"

                                              ng-class="{ playing: sequencer.getBeat($parent.$index, $index).isOn( ) }">

                                                <div class="line outer">

                                                  <div class="line inner _{{ $parent.$index }} {{ $index }}"

                                                  ng-class="{ playing: sequencer.getBeat($parent.$index, $index).isOn( ) }">

                                                    <div class="line outer">

                                                      <div class="line inner _{{ $parent.$index }} {{ $index }}"

                                                      ng-class="{ playing: sequencer.getBeat($parent.$index, $index).isOn( ) }">

                                                        <div class="line outer">

                                                          <div class="line inner _{{ $parent.$index }} {{ $index }}"

                                                          ng-class="{ playing: sequencer.getBeat($parent.$index, $index).isOn( ) }">

                                                          </div>

                                                        </div>

                                                      </div>

                                                    </div>

                                                  </div>

                                                </div>

                                              </div>

                                            </div>

                                          </div>

                                        </div>

                                      </div>

                                    </div>

                                  </div>

                                </div>

                              </div>

                            </div>

                          </div>

                        </div>

                      </div>

                    </div>

                  </div>

                </div>

              </div>

            </div>

          </div>

        </div>

      </div>

    </div>

  </div>

</div>
