<div class="gameSpace">

    <div class="targetSequencer padding-{{ numSequencers }}" ng-controller="TargetSequencerController"></div>

    <div class="playerSequencer" ng-controller="PlayerSequencerController">

      <div class="sequence {{ sequencer.beatClass }}" ng-repeat="sequence in sequences | orderBy: $index"
      >

        <div class="beat {{sequencer.beatClass}}"

        ng-repeat="beat in sequence._beats"

        ng-click="toggleBeat($parent.$index, $index)">

          <beat-box></beat-box>

      </div>

    </div>

  </div>

    <form class="save">

      <div class="form">

        <input type="text" placeholder="input a level" name="level" ng-model="inputLevel"></input>

      </div>

      <button class="submit" ng-click="saveToDatabase( )">Save to Database</button>

    </form>

    <form class="create">

      <div class="form">

        <input type="text" placeholder="tempo" name="tempo" ng-model="inputTempo"></input>

        <input type="text" placeholder="number of beats" name="beats" ng-model="inputBeats"></input>

        <input type="text" placeholder="sounds" name="sounds" ng-model="inputSounds"></input>

      </div>

      <button class="submit" ng-click="createSequencer( )">Create a Sequencer</button>
    </form>

</div>
