<div id='login'>

  <h1>login</h1>

  <form name="loginForm">

    <div class="mdl-textfield mdl-js-textfield">
      <input required class="mdl-textfield__input" type='text' ng-model='user.username' style="background-color: white" id="username"/>
      <label class="mdl-textfield__label" for="username">Username...</label>
    </div>

    <div class="mdl-textfield mdl-js-textfield">
      <input required class="mdl-textfield__input" type='password' ng-model='user.password'  style="background-color: white" id="password"/>
      <label class="mdl-textfield__label" for="password">Password...</label>
    </div>

    <button class="mdl-button mdl-js-button mdl-button--primary" ng-click='login( )'>Login</button>

    <button class="mdl-button mdl-js-button mdl-button--primary" ng-click='signup( )'>Signup</button>

  </form>

</div>



<!-- <input required type='text'ng-model='user.username'>
<input required type="password" ng-model='user.password'>
 -->
